# Unreal Engine
ue5/Binaries/
ue5/Build/
ue5/DerivedDataCache/
ue5/Intermediate/
ue5/Saved/
ue5/Script/
ue5/Backup/
ue5/*.sln
ue5/*.sdf
ue5/*.suo
ue5/*.pdb
ue5/*.obj

# Visual Studio
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates

# Divers
.DS_Store
Thumbs.db

# Compilation
build/
bin/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
